@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    margin-right: 20px;
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    
}
.txt{
    font-family: 'Share Tech Mono', monospace;
    
    color: black;
}